


/* CSS used here will be applied after bootstrap.css */
.badge-notify{
   background:#9966ff;
   position:relative;
   top: -15px;
   left: -5px;
}
.badge-notify2{
   background:red;
   position:relative;
   top: -15px;
   left: -5px;
}
ul {
  list-style-type: none;
}
.patient-list{
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 11%;

}

.container-fixed {
  max-width: 90%;
  margin-left: 20px;
  margin-right: 10px;
  max-width: 100%;
  padding-top: 10px;
  background-image: url("/bg.png");
  background-repeat: repeat;
  margin-top: -20px;
}
.content-holder {
  margin-left: 10px;
  border-top: 1.5px solid #737373;
  border-bottom: 1.5px solid #737373;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 10px;
  padding-left: 5px;

}
.contents{
  margin-right: 10px;
  position: relative;
}
.content-holder-list {
  margin-left: 25px;
  border-top: 1.5px solid #737373;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 25px;
  padding-left: 5px;

}
.title {
  background-color: #660066; 
  color: #ffffff; 
  height: 80px;
  display: inline-flex;
  vertical-align: middle;
  
}
.count {
  background-color: #ffb3ff; 
  color: #ffffff;
  height: 80px;
  display: inline-flex;
  vertical-align: middle;
}
.service1 {
  padding-left: 52px;
  background-color: #8533ff;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 52px;
}
.service2 {
  padding-left: 64px;
  background-color: #248f24;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 64px;
}
.service3 {
  padding-left: 64px;
  background-color: #ff6600;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 64px;
}
.keyBV {
  background-color: #248f24;
  border-top: 1.5px solid #248f23;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}
.keyPA {
  background-color: #ff6600;
  border-top: 1.5px solid #ff6601;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}
.keyCoPay {
  background-color: #8533ff;
  border-top: 1.5px solid #8533ff;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}
.keyPAP {
  background-color: #008ae6;
  border-top: 1.5px solid #008ae6;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}
.keyPR {
  background-color: #001a33;
  border-top: 1.5px solid #001a32;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}